<!DOCTYPE html>
<html>
<head>
	<title>Centro Comercial de Rentas de Bicicletas</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Bienvenido al Centro Comercial de Rentas de Bicicletas</h1>
	
	{% if session['logged_in'] == True %}
		<p>Bienvenido, {{ session['nombre'] }} (<a href="{{ url_for('logout') }}">cerrar sesión</a>)</p>
	{% else %}
		<p><a href="{{ url_for('login') }}">Iniciar sesión</a> 
            o
            <a href="{{ url_for('signup') }}">Registrarse</a></p>
	{% endif %}
	
	<h2>Bicicletas disponibles</h2>
	
	{% for id,bicicletas in bicicletas.items() %}
		<div>
			<img src="{{ bicicletas.imagen }}" alt="{{ bicicletas.marca }} {{ bicicletas.modelo }}" style="max-width: 500px;">
			<p><strong>Marca:</strong> {{ bicicletas.marca }}</p>
			<p><strong>Modelo:</strong> {{ bicicletas.modelo }}</p>
			<p><strong>Tamaño:</strong> {{ bicicletas.tamano }}</p>
			<form action="{{ url_for('alquilar') }}" method="post">
				<input type="hidden" name="id_bicicleta" value="{{ bicicletas.id }}">
				<button type="submit">Rentar</button>
			</form>
		</div>
	{% endfor %}
</body>
</html>